<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 item">
                <h3> O nama</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
            <div class="col-md-8 item text">
                <h3>MojPosao </h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
        </div>
        <p class="copyright">MojPosao © 2017</p>
    </div>
</footer>
