<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button nav_bg">
    <div class="container-fluid"><a class="navbar-brand text-white" href="#">MojPosao </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse flex-md-wrap-reverse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto nav_position">
                <li class="nav-item" role="presentation"><a class="nav-link text-white a_color" id="index" href="/">Početna </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-white id="natjecaji"" href="natjecaji">Natječaji </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-white" href="#">Suradnici </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-white" href="#">O nama</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-white" href="#">Kontakt </a></li>
            </ul>
            <span class="navbar-text actions span-float-right">
              <% if(typeof session == 'undefined'){ %>
                <a class="btn btn-primary btn-block btn-white" id="buttonLogin">Prijava </a>
                <a class="btn btn-primary btn-block btn-white" role="button" id="buttonRegistracija">Registracija </a>
              <% }else{ %>
                <div id="dropdown" class="ddmenu">
                  <h5>Dobrodosli, <%= session.ime %>. ▼</h5>
                  <ul>
                    <li><a href="#" id="myProfile">My Profile</a></li>
                    <li><a href="#" id="odjava">Log Out</a></li>
                  </ul>
                </div>
              <% } %>
            </span>

          </div>
    </div>
</nav>
