<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <div>
      <% include ./partials/header %>
    </div>
    <main class="main_position">
      
    </main>
    <div class="footer-dark">
        <% include ./partials/footer %>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>

</body>

</html>
