<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registracija</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="login-dark">
        <form method="post" id="form1" action="/registerKorisnik">
            <h2 class="text-center" style="margin:0 0 1em 0;">Registracija </h2>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item"><a class="nav-link active buttonRegKor">Korisnik </a></li>
                <li class="nav-item"><a class="nav-link buttonRegTvr">Tvrtka </a></li>
            </ul>
            <div class="form-group" id="divRegKor" style="margin:1em auto;">
                <input type="text" name="ime" placeholder="Ime" required class="form-control" pattern="[A-Za-z]{}" title="Ime mora biti napisano slovima, nemojte koristiti brojke."/>
                <input required type="text" name="prezime" placeholder="Prezime" class="form-control" style="margin:0.5em auto;" pattern="[A-Za-z]{}" title="Ime mora biti napisano slovima, nemojte koristiti brojke."/>
                <input class="form-control" type="email" name="email" required="" placeholder="Email" style="margin:0.5em auto;">
                <input class="form-control" type="password" name="lozinka" required="" placeholder="Lozinka" style="margin:0.5em auto;">
                <input class="form-control" type="password" name="lozinkaPon" required="" placeholder="Ponovi lozinku" style="margin:0.5em auto;">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Register </button>
                </div>
            </div>
        </form>
        <form method="post" id="form2" action="/registerTvrtka">
            <h2 class="text-center" style="margin:0 0 1em 0;">Registracija </h2>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item"><a class="nav-link active buttonRegKor">Korisnik </a></li>
                <li class="nav-item"><a class="nav-link buttonRegTvr">Tvrtka </a></li>
            </ul>
        <div class="form-group" id="divRegTvr" style="margin:1em auto;">
            <input type="text"  placeholder="Naziv tvrtke" name="naziv" required class="form-control" pattern="[A-Za-z]{}" title="Ime mora biti napisano slovima, nemojte koristiti brojke."/>
            <input class="form-control" type="email" name="email" required="" placeholder="Email" style="margin:0.5em auto;">
            <input required type="text"  placeholder="Broj telefona" name="brojTelefona" class="form-control" style="margin:0.5em auto;" pattern="^[0-9]${}" title="Niste unijeli traženi format broja telefona."/>
            <input class="form-control" type="password" name="lozinka" required="" placeholder="Lozinka" style="margin:0.5em auto;">
            <input class="form-control" type="password" name="lozinkaPon" required="" placeholder="Ponovi lozinku" style="margin:0.5em auto;">
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Register </button>
            </div>
        </div>
      </form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
</body>

</html>
