body {
  width:100%;
  height:10em;
  /*background-image:url(../../assets/img//online-job-search.jpg);*/
  background-color:#878787;
  background-repeat:no-repeat;
  background-size:cover;
  box-sizing: border-box;
}
.nav-tabs.nav-justified {
  width:100%;
  border-bottom:0;
  margin:0 auto;
}
.nav-item{
  cursor: pointer;
}
h5{
  color:white;
}
.btn.btn-light.action-button.btn_margin {
  margin-right:1em;
}

.span-float-right{
  position:relative;
  display: inline;
  float:right;
}

.btn.btn-light.action-button {
  width:7em;
  border:1px solid #ffffff;
}

.nav_bg {
  background-color:rgba(40, 10, 10, 0.9);
  color:#ffffff;
}

.btn-white{
  color:white!;
}
#navcol-1 .nav-item a:hover {
  border-bottom:0.3em solid #ffffff;
  color:#ffffff;
}

.nav_position {
  margin-top:1em;
  font-size:1.1em;
}

.main_position {
  width:100%;
  text-align:center;
  padding:5em;
  background:url(/img//online-job-search.jpg) center center;
  background-repeat:no-repeat;
  background-size:cover;
}

@media (min-width: 1200px) {
  .main_position {
    height:45em;
  }
}

@media (max-width: 576px) {
  .lead.text-center.p_position {
    font-size:15px;
  }
}

.my_jumbotron {
  background-color:rgba(135,135,135,0.85);
  /*color:#ffffff;*/
  border-radius:1.7em;
  padding:2em;
  max-width:1200px;
  margin:0 auto;
}

@media (min-width: 300px) {
  .my_jumbotron {
    padding:2px;
    margin-top: 5em;
  }
}

@media (max-width: 576px) {
  .my_jumbotron h1 {
    font-size:30px;
  }
}

.lead.text-center.p_position {
  max-width:35em;
  margin:3em auto;
  color:#1a1a00;
  font-weight:bold;
  font-style:oblique;
}
.login-dark{
  width:100%;
  height:100vh;
  background:linear-gradient(
      rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)
    ), url(/img/online-job-search.jpg);
  background-size:cover;
  position:relative;
}
.registration {
  width:100%;
  height:100vh;
  background:linear-gradient(
      rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)
    ), url(/img/online-job-search.jpg);
  background-size:cover;
  position:relative;
}

.registration form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#ffffff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}
.reg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:linear-gradient(
    rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));

}

.activeNav{
  border-bottom:0.3em solid #ffffff;
}

#dropdown {
  display: block;
  padding: 13px 16px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  border: 1px solid gray;
  border-left: 4px solid #214a80;
  background: inherit;
  font-size: 1.55em;
  color: #656565;
  font-weight: normal;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#dropdown:hover { color: #898989; }

#dropdown.open {
  background: #214a80;
  color: #fff;
  border-left-color: #6c6d70;
}

#dropdown ul {
  position: absolute;
  top: 100%;
  left: -4px; /* move content -4px because of container left border */
  width: 200px;
  padding: 5px 0px;
  display: none;
  border-left: 4px solid #8e9196;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#dropdown ul li {
  font-size: 0.9em;
  list-style: none;
}

#dropdown ul li a {
  text-decoration: none;
  display: block;
  color: #447dd3;
  padding: 7px 15px;
}
#dropdown ul li a:hover {
  color: #fff;
  background: rgba(33, 74, 128, 0.8);
}
